body {
  font-family: sans-serif;
}

input {
  border-radius: 16px;
  border: none;
  padding: 6px 16px;
  outline: none;
}

button {
  border-radius: 16px;
  border: none;
  padding: 4px 16px;
}

button:hover {
  background-color: deeppink;
  color: aliceblue;
  cursor: pointer;
}

.li {
  margin-right: 8px;
}

.title {
  text-align: center;
  margin-top: 0;
  font-weight: bold;
  color: dimgrey;
}
.list-row {
  display: flex;
  align-items: center;
}

.incomplete-area {
  background-color: aquamarine;
  width: 400px;
  min-height: 200px;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
}
.complete-area {
  background-color: coral;
  width: 400px;
  min-height: 200px;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
}
